* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 20px;

}

input, checkbox {
    margin-bottom: 15px;
}

button {
    background-color: orange;
    color: white;
    cursor: pointer;
    border-radius: 20%;
}